.card {
    margin: auto;
    justify-content: center;
    width: 28rem;
    padding: 2%;
    margin-top: 10%;
}

.fee-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.example-full-width {
    width: 100%;
  }