.card {
    margin: auto;
    justify-content: center;
    width: 28rem;
    padding: 2%;
    margin-top: 10%;
}

.addUser-form {
    display: flex;
    flex-direction: row;

}

.addUser-form-column {
    display: flex;
    flex-direction: column;
}

.example-full-width {
    width: 100%;
  }