.col {
    display: flex;
    flex-flow: column;
    height: 90vh;
    justify-content: space-evenly;
    padding: 1rem;
    background-color: antiquewhite;
}

.drawerStyle {
    height: auto !important ;
    min-height: 93vh;
    position: absolute;

}

.filter-form-field {

    width: 60%;
}