<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />


<mat-sidenav-container class="drawerStyle">
  <mat-sidenav mode="side" opened>
    <div class="col">
      <button mat-raised-button (click)="openDialog()" color="primary" style="padding-top: 1rem; padding-bottom: 1rem;"><mat-icon>library_add</mat-icon></button>
      <button mat-raised-button (click)="Logout()" color="warn"><i class="fa-solid fa-arrow-right-from-bracket" style="font-size: xx-large; padding: 1rem;"></i></button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
<app-fee-sheet-list></app-fee-sheet-list>
  </mat-sidenav-content>
</mat-sidenav-container>